<a href="https://colab.research.google.com/github/xpython21/pandas_basic_01/blob/main/myPandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [27]:
%cd /content/gdrive/MyDrive/Data/Various/

/content/gdrive/MyDrive/Data/Various

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
adWork = pd.read_csv('adWork.csv')

adWork.head(20)

,Country,MaritalStatus,Age,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,Education,Occupation,HouseOwnerFlag,NumberCarsOwned,AmountOrdersGroup,CommuteDistance,TotalOrders,VariousPurchaseFlag,TotalSalesAmount
0,0,1,50,1,90000.0,2,0,3,4,1,0,0,1,8,1,8248.99
1,0,0,45,1,60000.0,3,3,3,4,0,1,1,0,11,1,6383.88
2,0,1,50,1,60000.0,3,3,3,4,1,1,0,2,4,1,8114.04
3,0,0,48,0,70000.0,0,0,3,4,0,1,0,3,9,1,8139.29
4,0,0,42,0,80000.0,5,5,3,4,1,4,0,1,6,1,8196.01
5,0,0,45,1,70000.0,0,0,3,4,1,1,0,3,6,1,8121.33
6,0,0,45,0,70000.0,0,0,3,4,1,1,0,3,5,1,8119.03
7,0,1,52,1,60000.0,3,3,3,4,1,2,0,0,8,1,8211.00
8,0,0,46,0,60000.0,4,4,3,4,1,3,0,4,7,1,8106.31
9,0,0,52,1,70000.0,0,0,3,4,0,1,0,3,5,1,8091.33
10,0,0,52,0,70000.0,0,0,3,4,0,1,0,3,4,1,8088.04
11,0,1,52,1,60000.0,4,4,3,4,1,4,0,4,4,1,8133.04
12,5,1,42,0,100000.0,2,0,3,3,1,2,0,1,5,1,81.26
13,5,1,42,1,100000.0,2,0,3,3,1,3,0,0,5,1,113.96
14,5,0,48,0,100000.0,3,0,3,3,0,3,0,1,6,1,138.45
15,5,0,37,0,30000.0,0,0,2,2,0,1,0,3,3,0,2500.97
16,5,1,37,1,30000.0,0,0,2,2,1,1,0,3,3,0,2332.28
17,0,0,72,0,20000.0,4,0,1,2,1,2,0,3,4,1,6434.31
18,0,0,66,1,30000.0,2,0,2,0,1,2,0,3,7,1,6533.28
19,1,0,38,1,40000.0,0,0,1,2,0,2,3,3,33,1,882.70

In [28]:
!pwd

/content/gdrive/MyDrive/Data/Various

[git workflow](https://gist.github.com/ernielikesapple/3ebd182612bdcb3c8e1d49f6dc62bb3f)