<a href="https://colab.research.google.com/github/xpython21/pandas_basic_01/blob/main/myPandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [17]:
%cd /content/gdrive/MyDrive/Data/Various/

/content/gdrive/MyDrive/Data/Various

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [19]:
adWork = pd.read_csv('adWork.csv')

adWork.head()

,Country,MaritalStatus,Age,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,Education,Occupation,HouseOwnerFlag,NumberCarsOwned,AmountOrdersGroup,CommuteDistance,TotalOrders,VariousPurchaseFlag,TotalSalesAmount
0,0,1,50,1,90000.0,2,0,3,4,1,0,0,1,8,1,8248.99
1,0,0,45,1,60000.0,3,3,3,4,0,1,1,0,11,1,6383.88
2,0,1,50,1,60000.0,3,3,3,4,1,1,0,2,4,1,8114.04
3,0,0,48,0,70000.0,0,0,3,4,0,1,0,3,9,1,8139.29
4,0,0,42,0,80000.0,5,5,3,4,1,4,0,1,6,1,8196.01