<a href="https://colab.research.google.com/github/xpython21/pandas_basic_01/blob/main/myPandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [44]:
%cd /content/gdrive/MyDrive/Data/Various/

/content/gdrive/MyDrive/Data/Various

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [101]:
url = pd.read_csv('urls.csv')['url'][0]

names = ['SalesOrderNumber', 'SalesOrderLineItem', 'OrderDate', 'CustomerName', 'EmailAddress', 'Item', 'Quantity', 'UnitPrice', 'TaxAmount']

sales = pd.read_csv(url, sep=',', names=names)
sales.head()

,SalesOrderNumber,SalesOrderLineItem,OrderDate,CustomerName,EmailAddress,Item,Quantity,UnitPrice,TaxAmount
0,SO43701,1,2019-07-01,Christy Zhu,christy12@adventure-works.com,"Mountain-100 Silver, 44",1,3399.9900,271.9992
1,SO43704,1,2019-07-01,Julio Ruiz,julio1@adventure-works.com,"Mountain-100 Black, 48",1,3374.9900,269.9992
2,SO43705,1,2019-07-01,Curtis Lu,curtis9@adventure-works.com,"Mountain-100 Silver, 38",1,3399.9900,271.9992
3,SO43700,1,2019-07-01,Ruben Prasad,ruben10@adventure-works.com,"Road-650 Black, 62",1,699.0982,55.9279
4,SO43703,1,2019-07-01,Albert Alvarez,albert7@adventure-works.com,"Road-150 Red, 62",1,3578.2700,286.2616

[git workflow](https://gist.github.com/ernielikesapple/3ebd182612bdcb3c8e1d49f6dc62bb3f)